
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.load {
    color: white;
    font-size: 50px;
}

.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 10000;
    background-color: #c3cbcb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading {
    width: 40%;
}