

.paginate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.pageItem {
    border: 2px solid rgba(228, 124, 5);
    border-radius: 5px;
    padding: 1px;
    background-color: rgba(231, 146, 49);
    }

.pageItem:hover {
    transform: scale(1.1) 5s;
}

.paginationbot{
    color: white;
    font-size: 17px;
    font-weight: bolder;
    margin: 0 2px; 
    cursor: pointer;
    background-color: rgba(231, 146, 49);
    border: 0px;
    }

.paginationbot:hover {
    background: rgba(228, 124, 5);
    transform: scale(1.1);
}    

.paginationbot:active {
    background: rgba(228, 124, 5);
    
}